@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="card">
    <div class=" ="card-header"> Filtro Studenti</div>"
    <div class=" ="card-body"> 
        <form method="get" action="Search">

        <input class="form-control" type="text" name="Nominativo" placeholder="Nominativo" />
        <input class="form-control" type="date" name="DataDa" placeholder="Date Da" />
        <input class="form-control" type="date" name="DataA" placeholder=" Date A" />
        <button class="form-control btn"> <i class="fa fa-search"><</i>Ricerca</button>
        
        </form>
    </div>"
</div>

<div class="card">
    <div class=" =" card-header"> Risultati</div>"
    <div class=" =" card-body">

        <table
        
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Codice Fiscale</th>
                <th>Data di nascita</th>
                <th>Corso Id</th>
            </tr>    

            <tr>
                <th>Adolpho</th>
                <th>Silverio Figueiredo Neto</th>
                <th>291.266.388-19</th>
                <th>04/03/1982</th>
                <th>ICTS23.25-432</th>
            </tr>

            <tr>
                <th>Mario</th>
                <th>Rossi</th>
                <th>ROSMAR6565444</th>
                <th>26/09/1962</th>
                <th>ICTS20.22-265</th>
            </tr>

        ></table>
    </div>"

</div>