C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0.nupkg
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/build/net472/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.targets
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/lib/net472/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/lib/net472/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.Build.Tasks.CodeAnalysis.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.CodeAnalysis.Scripting.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.CodeAnalysis.VisualBasic.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.DiaSymReader.Native.amd64.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.DiaSymReader.Native.x86.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/Microsoft.Managed.Core.CurrentVersions.targets
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/System.Runtime.CompilerServices.Unsafe.dll
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/tools/Roslyn-4.1.0/System.Threading.Tasks.Extensions.dll
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/.vs/20241004_ASP.NET_CoreWebApp_ModelViewControl/FileContentIndex/9e58b582-476b-42ce-b5ba-bbf730ed160a.vsidx
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/.vs/20241004_ASP.NET_CoreWebApp_ModelViewControl/FileContentIndex/65dd0e71-0b33-4a94-8d54-ae0b1a29fc16.vsidx
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/.vs/20241004_ASP.NET_CoreWebApp_ModelViewControl/FileContentIndex/330d6820-fc2e-40b9-886c-e0ab74f5581f.vsidx
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/.vs/20241004_ASP.NET_CoreWebApp_ModelViewControl/FileContentIndex/04790076-a8be-4252-936a-419aa04df4b8.vsidx
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/.vs/20241004_ASP.NET_CoreWebApp_ModelViewControl/FileContentIndex/e38547b5-b2d6-4096-8da3-ffbb493462df.vsidx
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/obj/Debug/net8.0/staticwebassets/msbuild.20241004_ASP.NET_CoreWebApp_ModelViewControl.Microsoft.AspNetCore.StaticWebAssets.props
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.20241004_ASP.NET_CoreWebApp_ModelViewControl.props
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.20241004_ASP.NET_CoreWebApp_ModelViewControl.props
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/obj/Release/net8.0/20241004_ASP.NET_CoreWebApp_ModelViewControl.GeneratedMSBuildEditorConfig.editorconfig
