
C# - .Net/Exercises/20241001_ASP.NET_WebFormSite/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.4.1.0/build/net472/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.targets
C# - .Net/Exercises/20241004_ASP.NET_CoreWebApp_ModelViewControl/obj/Debug/net8.0/staticwebassets/msbuild.20241004_ASP.NET_CoreWebApp_ModelViewControl.Microsoft.AspNetCore.StaticWebAssets.props
C# - .Net/Exercises/20241015_Gestione_Biblioteca/20241015_BibliotecaWebService_ASP.NET_CoreWebAPI/obj/Debug/net8.0/20241015_BibliotecaWebService_ASP.NET_CoreWebAPI.csproj.AssemblyReference.cache
