@model List<ClienteDto>

@{
    ViewBag.Title = "Lista de Clientes";
}

<h1>Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var cliente in Model)
            {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Nome</td>
                </tr>
            }
    </tbody>
</table>
